In [172]:
import pandas as pd
import numpy as np

In [173]:
DATA_DIR = '../../../data/Data_Science_Listings'

In [174]:
df = pd.read_csv(f'{DATA_DIR}/Data_Scientist_Job_Listings_Data.csv')

In [175]:
df.head()

,Unnamed: 0,source_id,original_record_id,original_job_posting_site,original_job_title,cleansed_job_title,original_company_name,original_industry,City,State,Country,original_salary,cleansed_salary_min,cleansed_salary_max,cleansed_salary_avg,original_job_type,original_work_type,original_job_description1,original_job_description2,posting_date
0,0,1,0,INDEED,Data Scientist,data scientist,Driven Brands,NaN,Benicia,California,United States,NaN,NaN,NaN,NaN,Undefined,NaN,You’ll be working alongside a team of eight an...,We invite you to join us at Driven Brands!\nHe...,11/20/2022
1,1,1,1,INDEED,Business Analyst,analyst,Sabot Consulting,NaN,NaN,NaN,United States,$80 - $120 an hour,NaN,NaN,NaN,Undefined,Remote,Preferred candidates will have prior experienc...,Sabot Consulting (Sabot) is a management consu...,11/20/2022
2,2,1,2,INDEED,IT Business Intelligence Developer (FT) Remote...,data analytics,Ballad Health,NaN,Blountville,Tennessee,United States,NaN,NaN,NaN,NaN,Undefined,Remote,Job Details Apply Save Print this job Email a…,Job Details\nApply\nSave\nPrint this job\nEmai...,11/20/2022
3,3,1,3,INDEED,Data Engineer,data engineer,Longevity Holdings Inc.,NaN,Minneapolis-Saint Paul,Minnesota,United States,"$90,000 - $110,000 a year",90000.0,110000.0,100000.0,Undefined,Remote,Incorporate core data management competencies ...,Position: Data Engineer\nLocation: MN\nAs a Da...,11/20/2022
4,4,1,4,INDEED,Network Administrator/dba developer,na,WKI Kenworth,NaN,Wichita,Kansas,United States,"$50,000 - $70,000 a year",50000.0,70000.0,60000.0,Undefined,NaN,The Network Administrator provides 2nd level e...,Full Job Description\nThe Network Administrato...,11/20/2022

In [176]:
# df = df.dropna(subset=['original_job_type'])
set(df['original_job_type'])

{'1-10 employees',
 '11-50 employees',
 'Associate',
 'Contract',
 'Contract   Associate',
 'Contract   Entry level',
 'Contract   Executive',
 'Contract   Mid-Senior level',
 'Full Time',
 'Full-time',
 'Full-time   Associate',
 'Full-time   Director',
 'Full-time   Entry level',
 'Full-time   Executive',
 'Full-time   Internship',
 'Full-time   Mid-Senior level',
 'Internship',
 'Internship   Entry level',
 'Internship   Internship',
 'Part Time',
 'Part-time',
 'Part-time   Associate',
 'Part-time   Mid-Senior level',
 'Temporary',
 'Undefined',
 'Volunteer',
 nan}

In [177]:
df['original_job_type'].value_counts()

original_job_type
Undefined                       8067
Full-time   Mid-Senior level    3802
Full Time                       3395
Full-time                       2679
Contract                         611
Full-time   Associate            584
Full-time   Entry level          177
Internship                       146
Contract   Mid-Senior level      132
Full-time   Executive             49
Part-time                         48
Contract   Associate              32
Full-time   Director              31
Contract   Entry level            19
Part Time                          6
Internship   Internship            5
Full-time   Internship             5
Part-time   Mid-Senior level       3
Temporary                          3
Volunteer                          3
Associate                          2
11-50 employees                    2
Internship   Entry level           2
1-10 employees                     1
Part-time   Associate              1
Contract   Executive               1
Name: count, dtype: int64

## Remap Job Types

#### Coalesce similar columns

In [178]:
df.insert(df.shape[1], 'cleansed_job_type', df['original_job_type'])

In [179]:
df['cleansed_job_type'] = df['cleansed_job_type'].apply(lambda job_type: 'Full-time' if type(job_type) == str and 'full' in job_type.lower() else job_type)
df['cleansed_job_type'] = df['cleansed_job_type'].apply(lambda job_type: 'Part-time' if type(job_type) == str and 'part' in job_type.lower() else job_type)
df['cleansed_job_type'] = df['cleansed_job_type'].apply(lambda job_type: 'Internship' if type(job_type) == str and 'intern' in job_type.lower() else job_type)
df['cleansed_job_type'] = df['cleansed_job_type'].apply(lambda job_type: 'Contract' if type(job_type) == str and 'contract' in job_type.lower() else job_type)
df['cleansed_job_type'].value_counts()

cleansed_job_type
Full-time          10722
Undefined           8067
Contract             795
Internship           153
Part-time             58
Temporary              3
Volunteer              3
11-50 employees        2
Associate              2
1-10 employees         1
Name: count, dtype: int64

#### Create subcolumns: isContract, isInternship, isEntryLevel, isMidSeniorLevel

In [180]:
isContract = np.zeros(df.shape[0])
for i, title in enumerate(df['original_job_type']):
    if type(title) == str and 'contract' in title.lower():
        isContract[i] = 1
df.insert(df.shape[1], 'isContract', isContract)

In [181]:
isInternship = np.zeros(df.shape[0])
for i, title in enumerate(df['original_job_type']):
    if type(title) == str and 'intern' in title.lower():
        isInternship[i] = 1
df.insert(df.shape[1], 'isInternship', isInternship)

In [182]:
isEntryLevel = np.zeros(df.shape[0])
for i, title in enumerate(df['original_job_type']):
    if type(title) == str and 'entry' in title.lower():
        isEntryLevel[i] = 1
df.insert(df.shape[1], 'isEntryLevel', isEntryLevel)

In [183]:
isMidSeniorLevel = np.zeros(df.shape[0])
for i, title in enumerate(df['original_job_type']):
    if type(title) == str and ('mid' in title.lower() or 'senior' in title.lower()):
        isEntryLevel[i] = 1
df.insert(df.shape[1], 'isMidSeniorLevel', isMidSeniorLevel)

## Overwrite csv with cleaned data

In [184]:
df.to_csv(f'{DATA_DIR}/Data_Scientist_Job_Listings_Data.csv', index=False)

In [190]:
df = pd.read_csv(f'{DATA_DIR}/Data_Scientist_Job_Listings_Data.csv')

In [191]:
df['cleansed_job_type'].value_counts()

cleansed_job_type
Full-time          10722
Undefined           8067
Contract             795
Internship           153
Part-time             58
Temporary              3
Volunteer              3
11-50 employees        2
Associate              2
1-10 employees         1
Name: count, dtype: int64

In [192]:
df.columns

Index(['Unnamed: 0', 'source_id', 'original_record_id',
       'original_job_posting_site', 'original_job_title', 'cleansed_job_title',
       'original_company_name', 'original_industry', 'City', 'State',
       'Country', 'original_salary', 'cleansed_salary_min',
       'cleansed_salary_max', 'cleansed_salary_avg', 'original_job_type',
       'original_work_type', 'original_job_description1',
       'original_job_description2', 'posting_date', 'cleansed_job_type',
       'isContract', 'isInternship', 'isEntryLevel', 'isMidSeniorLevel'],
      dtype='object')