In [1]:
import pandas as pd

In [2]:
DATA_DIR = '../../../data/Data_Science_Listings'

In [3]:
df = pd.read_csv(f'{DATA_DIR}/Data_Scientist_Job_Listings_Data.csv')

In [4]:
df.head()

,Unnamed: 0,source_id,original_record_id,original_job_posting_site,original_job_title,cleansed_job_title,original_company_name,original_industry,City,State,Country,original_salary,cleansed_salary_min,cleansed_salary_max,cleansed_salary_avg,original_job_type,original_work_type,original_job_description1,original_job_description2,posting_date
0,0,1,0,INDEED,Data Scientist,data scientist,Driven Brands,NaN,Benicia,California,United States,NaN,NaN,NaN,NaN,Undefined,NaN,You’ll be working alongside a team of eight an...,We invite you to join us at Driven Brands!\r\n...,11/20/2022
1,1,1,1,INDEED,Business Analyst,analyst,Sabot Consulting,NaN,NaN,NaN,United States,$80 - $120 an hour,NaN,NaN,NaN,Undefined,Remote,Preferred candidates will have prior experienc...,Sabot Consulting (Sabot) is a management consu...,11/20/2022
2,2,1,2,INDEED,IT Business Intelligence Developer (FT) Remote...,data analytics,Ballad Health,NaN,Blountville,Tennessee,United States,NaN,NaN,NaN,NaN,Undefined,Remote,Job Details Apply Save Print this job Email a…,Job Details\r\nApply\r\nSave\r\nPrint this job...,11/20/2022
3,3,1,3,INDEED,Data Engineer,data engineer,Longevity Holdings Inc.,NaN,Minneapolis-Saint Paul,Minnesota,United States,"$90,000 - $110,000 a year",90000.0,110000.0,100000.0,Undefined,Remote,Incorporate core data management competencies ...,Position: Data Engineer\r\nLocation: MN\r\nAs ...,11/20/2022
4,4,1,4,INDEED,Network Administrator/dba developer,na,WKI Kenworth,NaN,Wichita,Kansas,United States,"$50,000 - $70,000 a year",50000.0,70000.0,60000.0,Undefined,NaN,The Network Administrator provides 2nd level e...,Full Job Description\r\nThe Network Administra...,11/20/2022